@import './style-imports/vars';

/*
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
*/

@include angular-material-theme($stabel-theme);


body, h1, h2, h3 {
  font-weight: 300; 
  margin: 0px;
}


a {
  $link-color: mat-color($stabel-primary, default);
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  &:link, &:visited{ 
    color: $link-color; 
  }
  
  &:hover {
    color: mat-color($stabel-accent, default);
    text-decoration: underline;
  }
}

// fixed footer on bottom
html{
  min-height: 100%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  > body{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    > app-root,
    > app-root > home-page{
      padding-bottom: $footer-height * 2;
    }
  }
}



button.btn-prim{
  background-color: mat-color($stabel-primary, default);
  color: mat-color($stabel-primary, default-contrast);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}