@import '../../style-imports/vars';

stabel-gallery{
  min-height: 300px;
  display: block;    
  background-color: white;

  >ul{
    padding: 0px;

    >li{
      display: block;
      float: left;
      width: 200px;
      height: 200px;
      text-align: center;
      background-color: rgba(0,0,0,0.1);
      
      margin-left: 3px;
      margin-bottom: 3px;
      cursor: pointer;
      &:hover{
        background-color: mat-color($stabel-primary, default);
        color: mat-color($stabel-primary, default-contrast);
      }
      h4{
        font-size: 14px;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-weight: 500
        
      }
    }
  }
}