@import '../../style-imports/vars';

home-page {
  display: flex;
  flex-direction: column;

  md-tab-group{
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .mat-list .mat-subheader,
  .mat-list .mat-list-item{
    color: black;
  }
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  //padding-bottom: 20px;
}
.title-h1{
  text-align: center;
}

