@import '../../style-imports/vars';

md-dialog-container{
  margin-left: auto;
  margin-right: auto;
}

stabel-dialog{
  
  > md-card.mat-card{
    box-shadow: none!important;
    padding: 0px!important;
  }
  .mat-card-content{
    margin: 8px;

    md-card-subtitle{
      line-height: 24px;
      height: 24px;
      
      md-icon{
        float: left;
        margin-right: 7px;
      }
    }

    > md-divider{
      margin-bottom: 24px;      
      margin-top: 24px;      
    }
    > md-card-subtitle{
      margin-bottom: 12px;
    }
    > section{
      margin-bottom: 12px;
    }

    > section{
      md-card-subtitle{
        margin-bottom: 3px;
      }
    }     
  }

  md-card-actions{
    > button.mat-raised-button{
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
      background-color: mat-color($stabel-primary, default);
      color: mat-color($stabel-primary, default-contrast);
    }
  }
}